<nav class="nav">
    <ul class="navbar">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/friends/requests']">Friend Requests</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/users/friends']">Friends</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/posts']">Posts</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/posts/add-new-post']">Create Post</a>
      </li>
    </ul>
</nav>
