<nav class="nav">
    <ul class="navbar">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/friends/requests']">Friend Requests</a>

        <a class="nav-link" [routerLink]="['/users/friends']">Friends</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/posts']">Posts</a>

        <a class="nav-link" [routerLink]="['/posts/add-new-post']">Create Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/groups']">Groups</a>

        <a class="nav-link" [routerLink]="['/groups/add']">Create Group</a>
      </li>
      <li *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="['/reports']">Reports</a>

        <a class="nav-link" [routerLink]="['/bans']">Bans</a>
      </li>
      <li *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="['/searchGroup']">Search Group</a>
      </li>
    </ul>
</nav>
