<br>
<h1 class="center" style="font-style: italic;">~ Received Group Requests ~</h1>
<h4 class="pink-bold center" *ngIf="recievedRequests.length == 0">You have no received requests </h4>
<div *ngIf="recievedRequests.length > 0" class="container justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
      <div class="people-nearby">
        <div class="nearby-user justify-content-center">
          <div *ngFor="let request of recievedRequests">
            <div class="col-md-2 col-sm-2" *ngIf="requestUsers.get(request.createdByUserId)" >
              <img {{requestUsers.get(request.createdByUserId).profilePicture}} alt="Profile Image" class="profile-photo-lg">
            </div>
            <div class="text-center">
              <h4 class="center" *ngIf="requestUsers.get(request.createdByUserId)" > {{requestUsers.get(request.createdByUserId).firstName + ' ' + requestUsers.get(request.createdByUserId).lastName}}</h4>
              <h3 class="center" *ngIf="requestUsers.get(request.createdByUserId)" >{{requestUsers.get(request.createdByUserId).displayName || requestUsers.get(request.createdByUserId).username}}</h3>
              <p>{{request.createdAt | date: 'MMMM d, y, HH:mm'}}</p>
              <button class="btn btn2" *ngIf="request.at == null" (click)="respondToRequest(request.id, 'accept')">Accept</button>
              <button class="btn btn2" *ngIf="request.at == null" (click)="respondToRequest(request.id, 'decline')">Decline</button>
              <button class="btn btn2" *ngIf="request.at != null && request.approved == true" disabled>You accepted this request</button>
              <button class="btn btn2" *ngIf="request.at != null && request.approved == false" disabled>You declined this request</button>
              <hr class="separator">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
