<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="col-md-7">
    <div class="social-feed-box">
      <div class="social-action-dropdown-container pull-right">
        <button class="social-action-dropdown-button">
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="social-action-dropdown-menu">
          <li>
            <!-- Add the report reason dropdown for reporting posts -->
            <div *ngIf="showReportDropdownForPost">
              <label for="reportReason">Select a report reason:</label>
              <select id="reportReason" [(ngModel)]="selectedReason">
                <option *ngFor="let reason of reportReasons" [value]="reason">{{ reason }}</option>
              </select>
              <button class="btn btn1" (click)="submitReport()">Submit</button>
            </div>
            <!-- End of report reason dropdown for reporting posts -->

            <!-- Keep the existing "Report post" button here -->
            <button class="btn btn1" (click)="openReportDropdown()" *ngIf="!reportDropdownOpened && !showReportDropdownForPost">Report post</button>
          </li>
          <li>
            <!-- Report dropdown for reporting users -->
            <div *ngIf="showReportDropdownForUser">
              <label for="reportReason">Select a report reason:</label>
              <select id="reportReason" [(ngModel)]="selectedReason">
                <option *ngFor="let reason of reportReasons" [value]="reason">{{ reason }}</option>
              </select>
              <button class="btn btn1" (click)="submitUserReport()">Submit</button>
            </div>

            <button class="btn btn1" *ngIf="!showReportDropdownForUser && !showReportDropdownForPost" (click)="openReportUserDropdown(user.id)">Report user</button>
          </li>

        </ul>
      </div>
      <div class="social-avatar">
        <form class="form" novalidate="" [formGroup]="form" >
        <div class="pull-left">
          <img [src]="image.path" alt="Profile Image">
        </div>
        </form>
        <div class="media-body">
          <a>
            {{user.displayName || user.username}}
          </a>
          <small class="text-muted">{{post.creationDate | date: 'MMMM d, y, HH:mm'}}</small>
        </div>
      </div>
      <div class="social-body">
        <p>{{post.content}}</p>
        <div class="img1" *ngFor="let image of images">
          <img [src]="image.path" [alt]="'Image ' + image.id">
        </div>
        <div class="btn-group">
          <button class="btn btn-white btn-xs" (click)="reactedPost(post.id, 'HEART')"><i class="fa fa-heart"></i>  {{hearts}}</button>
          <button class="btn btn-white btn-xs" (click)="reactedPost(post.id, 'LIKE')"><i class="fa fa-thumbs-up"></i> {{likes}}</button>
          <button class="btn btn-white btn-xs" (click)="reactedPost(post.id, 'DISLIKE')"><i class="fa fa-thumbs-down"></i>  {{dislikes}}</button>
          <div><button class="btn btn1" (click)="addComment()">Add Comment</button></div>
          <button *ngIf="hasAuthority()" class="btn btn1" [routerLink]="['/posts/edit', post.id]">Edit Post</button>
          <button *ngIf="hasAuthority()" class="btn btn1" (click)="deletePost()">Delete Post</button>
        </div>
      </div>
      <div class="sort-controls" *ngIf="comments.length > 0">
        <select class="btn btn2" [(ngModel)]="defaultSortType" (change)="onSortOptionChange()">
          <option value="date">Sort by Date</option>
          <option value="likes">Sort by Likes</option>
          <option value="hearts">Sort by Hearts</option>
          <option value="dislikes">Sort by Dislikes</option>
        </select>
        <button class="btn btn2" (click)="toggleSortDirection(); onSortOptionChange()">
          {{ defaultSortDirection | uppercase }}
        </button>
      </div>

      <div class="social-footer"  *ngIf="comments.length > 0" >
        <div class="social-comment" *ngFor="let comment of comments">
          <div class="media-body">
            <p class="comment-user">
              {{ users.get(comment.belongsToUserId)?.displayName || users.get(comment.belongsToUserId)?.username }}
            </p>
            <p class="comment-text">{{ comment.text }}</p>
            <small class="text-muted">{{ comment.timestamp | date: 'MM.dd.yyyy' }}</small>
            <button class="btn btn-white btn-xs" (click)="reactedComment(comment.id, 'HEART')"><i class="fa fa-heart"></i> {{getReactionCount(comment.id, 'HEART')}}</button>
            <button class="btn btn-white btn-xs" (click)="reactedComment(comment.id, 'LIKE')"><i class="fa fa-thumbs-up"></i> {{getReactionCount(comment.id, 'LIKE')}}</button>
            <button class="btn btn-white btn-xs" (click)="reactedComment(comment.id, 'DISLIKE')"><i class="fa fa-thumbs-down"></i> {{getReactionCount(comment.id, 'DISLIKE')}}</button>
            <button *ngIf="canReply(comment.id)" class="btn btn1" (click)="reply(comment.id)">Reply</button>
            <button class="btn btn1" *ngIf="canDeleteComment(comment.id)" (click)="deleteComment(comment.id)">Delete Comment</button>
            <!-- Add the report reason dropdown for reporting comments -->
            <div *ngIf="reportedCommentId === comment.id">
              <label for="reportReason">Select a report reason:</label>
              <select id="reportReason" [(ngModel)]="selectedReason">
                <option *ngFor="let reason of reportReasons" [value]="reason">{{ reason }}</option>
              </select>
              <button class="btn btn1" (click)="submitReportComment(comment.id)">Submit</button>
            </div>
            <!-- End of report reason dropdown for reporting comments -->

            <button class="btn btn1" (click)="openReportCommentDropdown(comment.id)" *ngIf="!reportedCommentId">Report comment</button>
          </div>
          <div class="social-comment" *ngFor="let reply of replies">
            <ng-container *ngIf="reply.repliesToCommentId == comment.id">
              <div class="media-body">
                <p class="comment-user">
                  {{ users.get(reply.belongsToUserId)?.displayName || users.get(reply.belongsToUserId)?.username }}
                </p>
                <p class="comment-text">{{ reply.text }}</p>
                <small class="text-muted">{{ reply.timestamp | date: 'MM.dd.yyyy' }}</small>
                <button class="btn btn-white btn-xs" (click)="reactedComment(reply.id, 'HEART')"><i class="fa fa-heart"></i>  {{getReactionCount(reply.id, 'HEART')}}</button>
                <button class="btn btn-white btn-xs" (click)="reactedComment(reply.id, 'LIKE')"><i class="fa fa-thumbs-up"></i>  {{getReactionCount(reply.id, 'LIKE')}}</button>
                <button class="btn btn-white btn-xs" (click)="reactedComment(reply.id, 'DISLIKE')"><i class="fa fa-thumbs-down"></i>  {{getReactionCount(reply.id, 'DISLIKE')}}</button>
                <button class="btn btn1" *ngIf="canDeleteReply()" (click)="deleteComment(reply.id)">Delete Reply</button>
                <!-- Add the report reason dropdown for reporting comments -->
                <div *ngIf="reportedReplyId === reply.id">
                  <label for="reportReason">Select a report reason:</label>
                  <select id="reportReason" [(ngModel)]="selectedReason">
                    <option *ngFor="let reason of reportReasons" [value]="reason">{{ reason }}</option>
                  </select>
                  <button class="btn btn1" (click)="submitReportReply(reply.id)">Submit</button>
                </div>
                <!-- End of report reason dropdown for reporting comments -->

                <button class="btn btn1" (click)="openReportReplyDropdown(reply.id)" *ngIf="!reportedReplyId">Report reply</button>
              </div>
            </ng-container>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
