.container{
  margin-top:20px;
  margin-left: 380px;
}
.social-feed-separated .social-feed-box {
  margin-left: 62px;
}
.social-feed-separated .social-avatar {
  float: left;
  padding: 0;
}
.social-feed-separated .social-avatar img {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}
.social-feed-separated .social-feed-box .social-avatar {
  padding: 15px 15px 0 15px;
  float: none;
}
.social-feed-box {
  border: 1px solid #e7eaec;
  background: #FAF9F6;
  margin-bottom: 15px;
}
.article .social-feed-box {
  margin-bottom: 0;
  border-bottom: none;
}
.article .social-feed-box:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #e7eaec;
}
.article .social-feed-box p {
  font-size: 13px;
  line-height: 18px;
}
.social-action {
  margin: 15px;
}
.social-avatar {
  padding: 15px 15px 0 15px;
}
.social-comment .social-comment {
  margin-left: 45px;
}
.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.social-avatar .media-body a {
  font-size: 14px;
  font-weight: bolder;
  display: block;
}
.social-body {
  padding: 15px;
}
.social-body img {
  margin-bottom: 10px;
}
.social-footer {
  border-top: 1px solid #e7eaec;
  padding: 10px 15px;
  background: #FFF5EE;
}
.social-comment:first-child {
  margin-top: 0;
}
.social-comment {
  margin-top: 15px;
}
.comment-user {
  font-weight: bold;
}
.comment-text {
  background-color: #FAF9F6;
  display: flex;
  align-items: center;
  height: 50px;
  overflow-y: auto;
  margin-bottom: 5px;
}
.btn1 {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #F88379;
  color: white;
}
.bt1:hover {
  background-color: #F3CFC6;
  color: black;
}
.social-comment textarea {
  font-size: 12px;
}
.btn2 {
  margin-right: 5px;
  margin-left: 5px;
  background-color: #FFF5EE;
  color: black;
  border: 1px solid #F3CFC6;
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.social-action-dropdown-container {
  position: relative;
  display: inline-block;
}

.social-action-dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.social-action-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.social-action-dropdown-menu li {
  padding: 5px 10px;
}

.social-action-dropdown-container:hover .social-action-dropdown-menu {
  display: block;
}

