<br>
<div class="post-list">
  <div class="post-container" *ngFor="let group of groups">
    <div class="post-card">
      <h1 class="post-username" >
        {{group.name}}
      </h1>
      <p class="post-content">{{group.description}}</p>
      <div class="post-footer">
        <div class="post-date">{{group.creationDate | date: 'MMMM d, y, HH:mm'}}</div>
        <div class="button-group">
          <button *ngIf="canAccess(group.id) || isAdmin" class="post-button" [routerLink]="['/groups', group.id]">Explore Group</button>
        </div>
      </div>
    </div>
  </div>
</div>
