.card{
  margin-top:20px;
  background:#FFF5EE;
  margin-right: 200px;
  margin-left: 200px;
}
.mt-2 {
  display: flex;
  align-items: center;
}
.mt-2 label{
  margin-left: 60px;
}
.mt-2 i{
  margin-left: 8px;
}
.mt-2 input[type="file"] {
  margin-left: 20px;
}
.btn1{
  background-color: #F88379;
  color: white;
  margin-bottom: 10px;
}
.btn1:hover{
  background-color: #F3CFC6;
  color: black;
}
